//================
//=== #BUTTONS ===
//================

.btn {
  outline: 0;
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  z-index: 1;

  &--menu {
    margin-left: auto;
    margin-right: $spacing-unit-small * 2;
    font-size: 2.5rem;

    &.has-cross {

      .menu-line {
        transition: ease-in-out 280ms;

        &:nth-of-type(1) {
          transform: rotate(-45deg) translate(-4px);
          transform-origin: center;
        }

        &:nth-of-type(2) {
          display: none;
        }

        &:nth-of-type(3) {
          transform: rotate(45deg) translate(-4px);
          transform-origin: center;
        }
      } 
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }

  &--primary {
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    padding: 16px 0 15px;
    text-transform: uppercase;
    border-radius: 2px;
    width: 100%;
    color: $white;
    display: block;
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
    font-family: $font-family-roboto;
    font-size: 13px;
    letter-spacing: 2px;
    background-color: #F29471;
    border: 2px solid transparent;
    transition: all ease-in 200ms;

    @media (min-width: 992px) {
      margin: 0 0 32px;
      font-size: 16px;
    }

    &:hover {
      background: #d67f5f;
    }
  }



  &--secondary {
    position: relative;
    z-index: 1;
    display: block;
    width: 90%;
    font-family: $font-family-roboto;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    color: darken($white, 5%);
    border: 2px solid currentColor;
    padding: (1.5 * $spacing-unit-small) (2 * $spacing-unit-small);
    transition: all ease-in 200ms;
    margin: 0 auto;

    &:hover {
      background-color: darken($white, 5%);
      color: $blackish;
      border-color: darken($white, 5%);
      box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, .25);
      transform: scale(.98);
    }
  }

  &--cta {
    position: relative;
    text-transform: uppercase;
    z-index: 1;
    display: inline-block;
    width: 100%;
    font-family: $font-family-roboto;
    font-size: 1.8rem;
    letter-spacing: 1px;
    text-align: center;
    color: black;
    border: 2px solid $black;
    padding: 12px 32px;
    transition: all ease-in 200ms;

    &:hover {
      color: white;
      background: black;
    }

    &-orange {
      border: 2px solid $white;
      color: $white;

      @media (min-width: 992px) {
        max-width: 240px;
      }

      &:hover {
        background: $white;
        color: $brand-orange;
      }
    }
  }

  &--scroll-top {
    position: absolute;
    bottom: 18 * $spacing-unit-small;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5 * $spacing-unit-small;
    border: 1px solid $blackish;
    transition: all ease-in 200ms;

    .fa-chevron-up {
      font-size: 1.6rem;
      color: $blackish;
    }

    &:hover {
      box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, .10);
    }

    @media screen and (min-width: 992px) {
      display: none;
    }
  }
}

//======================
//=== #BUTTONS SIZES ===
//======================

.primary--small {
  width: 75%;
  max-width: 35rem;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1199px) {
    margin-left: auto;
    margin-right: auto;
  }
}

.contact_btn {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  font-family: $font-family-roboto;
  font-size: 1.8rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  color: darken($white, 5%);
  border: 2px solid currentColor;
  padding: (1.5 * $spacing-unit-small) (2 * $spacing-unit-small);
  transition: all ease-in 200ms;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 767px) {
    margin-left: auto;
    margin-right: auto;
  }
}

//=======================
//=== #BUTTONS COLORS ===
//=======================

.primary--dark {
  color: $blackish;
  border-color: currentColor;
}

//=============================
//=== #BUTTONS INTERACTIONS ===
//=============================

.primary--no-interaction {

  &:hover {
    transform: initial;
    box-shadow: unset;
    background-color: transparent;
    border-color: initial;
  }
}

//=======================
//=== #HAMBURGER MENU ===
//=======================

.menu-line {
  display: block;
  width: 30px;  
  height: 5px;
  background-color: $blackish;
  border-radius: 8px;

  &:nth-of-type(2) {
    margin: $spacing-unit-small / 2 0;
  }
}