//===============
//=== #FOOTER ===
//===============

.footer {
  font-size: 1.8rem;
  font-family: $font-family-roboto;

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 32px;
    text-align: center;

    @media (min-width: 768px) {
      flex-direction: row;
      text-align: left;
    }

    @media (min-width: 1200px) {
      padding: 0;
    }
  }

  &__item {
    margin-bottom: 24px;

    @media (min-width: 768px) {
      margin-bottom: 0;
    }
  }

  &__title {
    font-weight: 400;
  }

  &__social {
    display: flex;
    justify-content: center;
  }

  &__copy {
    margin: 0;
    padding: 0 1.5 * $spacing-unit-small 1.5 * $spacing-unit-small 1.5 * $spacing-unit-small;
  }
}

.social-item {
  padding: 0 $spacing-unit-small;

  &__link {
    display: block;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
    border-radius: 100%;
    border: 1px solid $black;
  }

  &:hover {
    .fa-facebook-f {
      color: $fb-purple;
    }

    .fa-instagram {
      color: $instagram-pink;
    }
  }
}

.social-icon {
  transition: all 0.2s ease;
  font-size: 2rem;
}

.footer-links {
  &__link {
    z-index: 4;
    position: relative;
    color: red;
    overflow: hidden;
    padding: 0 4px;
    height: 15px;
    display: inline-block;
    font-size: 16px;
    line-height: 1;

    &:hover {
      outline: none;
    }

    span {
      position: relative;
      display: inline-block;
      transition: transform 0.3s;

      &:hover{
        transform: translateY(-100%);
      }

      &:before {
        position: absolute;
        top: 100%;
        content: attr(data-hover);
        font-weight: 700;
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
    }
  }
}