//==================
//=== #VARIABLES ===
//==================

// Media query
$sm-min: 768px;
$md-min: 992px;
$lg-min: 1200px;
$xs-up: 500px;
$sm-up: 768px;

@mixin sm {
  @media (min-width: #{$sm-min}) {
    @content;
  }
}

@mixin md {
  @media (min-width: #{$md-min}) {
    @content;
  }
}

@mixin lg {
  @media (min-width: #{$lg-min}) {
    @content;
  }
}

//Colors
$white: #fff;
$black: #000;
$grey: #f5f5f5;
$yellow: #f8bc6d;
$blackish: #333;
$fb-purple: #3b5998;
$instagram-pink: #c32aa3;

// Brand Colors
$brand-yellow: #f7eda8;
$brand-orange: #f8bc6d;
$brand-red: #f29471;
$brand-green: #d2de7c;
$brand-purple: #b496c0;
$brand-grey: #dededd;

// Spacings
$spacing-unit-small: 10px;

// Fonts
$font-family-playfair: "Playfair Display", sans-serif;
$font-family-josefin: "Josefin Slab", sans-serif;
$font-family-roboto: "Roboto", sans-serif;

// Utils
$i: !important;
