//=================
//=== #HOMEPAGE ===
//=================

.homepage-header {
  border-bottom: 1px solid $blackish;
  box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.3);
}

.homepage-banner {
  position: relative;
  background: url(../images/intro-bg.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 85vh;

  @media screen and (min-width: 1023px) {
    background-attachment: fixed;
  }

  &--second-banner {
    display: flex;
    justify-content: center;
    background: url(../images/photographers.jpg) no-repeat center center;
    background-size: cover;

    @media screen and (min-width: 1023px) {
      height: 85vh;
    }
  }

  &__title {
    position: relative;
    z-index: 1;    
    font-size: 3.4rem;
    letter-spacing: 2px;
    font-family: $font-family-josefin;
    text-align: center;
    color: darken($white, 5%);
    margin: 0 0 3 * $spacing-unit-small 0;

    @media screen and (min-width: 767px) {
      font-size: 8rem;
    }
  }
}

//=============================
//=== #HOMEPAGE DESCRIPTION ===
//=============================

.homepage-description {
  padding: 7 * $spacing-unit-small 2 * $spacing-unit-small;
  text-align: center;

  &__title {
    font-family: $font-family-josefin;
    font-size: 3.8rem;

    @media screen and (min-width: 991px) {
      font-size: 6rem;
    }
  }

  &__text {
    font-family: $font-family-roboto;
    font-size: 1.8rem;
    font-weight: 400;

    @media screen and (min-width: 767px) {
      font-size: 2.4rem;
    }
  }

  &__image {
    width: 100px;
  }

  &--medium-size {
    padding-top: 8 * $spacing-unit-small;
    padding-bottom: 12 * $spacing-unit-small;
  }
}

//==============================
//=== #HOMEPAGE CARD SECTION ===
//==============================

.card {
  margin: 0 2.5 * $spacing-unit-small;
}

//=====================
//=== #DARK OVERLAY ===
//=====================

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .35);
}