//==================
//=== #VARIABLES ===
//==================

//Colors
$white: #fff;
$blackish: #333;

// Spacings
$spacing-unit-small: 10px;

// Fonts
$font-family-playfair: "Playfair Display", sans-serif;
$font-family-roboto: "Roboto Condensed", serif;