//====================
//=== #NAV WRAPPER ===
//====================

.nav-wrapper {
  display: flex;
}

.menu-wrapper {
  display: none;

  &.is-open {
    display: block;
  }
}

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-end {
  align-items: flex-end;
}