//====================
//=== #NAV WRAPPER ===
//====================

.nav-wrapper {
  display: flex;
  overflow-x: hidden;
}

.menu-wrapper {
  display: none;

  &.is-open {
    display: block;
  }
}

//=====================
//=== #FLEX WRAPPER ===
//=====================

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--center {
    align-items: center;
  }
}

.flex-end {
  align-items: flex-end;
}

//=====================
//=== #TEXT WRAPPER ===
//=====================

.text-wrapper {
  color: $white;
  z-index: 1;
}

//=========================
//=== #HOMEPAGE WRAPPER ===
//=========================

.homepage-wrapper {
  padding: 0 2.5 * $spacing-unit-small;
  
  &--flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

//=======================
//=== #LAYOUT WRAPPER ===
//=======================

.layout-wrapper {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;

  &--small {
    
    @media screen and (min-width: 767px) {
      max-width: 70%;
      margin-left: auto;
      margin-right: auto;
    }
  }
}