//====================
//=== #NAV WRAPPER ===
//====================

.nav-wrapper {
  display: flex;
}

.menu-wrapper {
  display: none;

  &.is-open {
    display: block;
  }
}

//=====================
//=== #FLEX WRAPPER ===
//=====================

.flex-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-end {
  align-items: flex-end;
}

//=========================
//=== #HOMEPAGE WRAPPER ===
//=========================

.homepage-wrapper {
  padding: 0 2.5 * $spacing-unit-small;
  
  &--flex {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}