.pricing-cards {
  &__wrapper {
    display: flex;
    flex-direction: column;

    @media (min-width: 992px) {
      flex-direction: row;
    }
  }

  &__item {
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 50px -1px;
    padding: 30px 15px;
    border-radius: 2px;
    font-family: "Roboto", sans-serif;
    margin-right: 15px;
    margin-bottom: 32px;

    @media (min-width: 992px) {
      margin-bottom: 0;
    }

    &-main-heading {
      font-size: 18px;
      line-height: 1.5;
      text-align: center;
      font-weight: 700;
      margin: 0 0 24px;

      @media (min-width: 992px) {
        max-width: 250px;
        min-height: 80px;
      }
    }

    &-price {
      font-size: 48px;
      font-weight: 700;
      text-align: center;
      margin: 0;

      span {
        font-size: 32px;
        vertical-align: super;
        font-weight: 700;
        text-align: center;
      }
    }

    &-caption {
      font-weight: 500;
      font-size: 16px;
      letter-spacing: 0.4px;
      text-align: center;
      color: $brand-red;
      margin-bottom: 48px;
    }
  }

  &__list {
    list-style: none;
    margin-bottom: 48px;

    @media (min-width: 992px) {
      min-height: 225px;
    }

    @media (min-width: 1200px) {
      min-height: 180px;
    }

    &-item {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
      font-size: 16px;

      @media (min-width: 992px) {
        text-align: left;
      }


      &:before {
        flex-shrink: 0;
        content: "";
        background-image: url(https://static.buffer.com/marketing/static/icons/check-mark.svg);
        display: inline-flex;
        width: 25px;
        height: 25px;
        margin-right: 15px;
        background-repeat: no-repeat;
      }
    }
  }
}
