.c-testimonial {
  position: relative;

  &__item {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

    @media screen and (min-width: 992px){
      max-width: 1000px;
    }
  }

  &__content {
    .p-nw {
      margin-bottom: 60px;
      font-size: 24px;
      line-height: 32px;
      font-family: $font-family-roboto;
    }
  }

  &__name {
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    font-family: $font-family-roboto;
    text-transform: uppercase;
  }

  &__location {
    font-size: 16px;
    line-height: 24px;
    color: #111517;
    opacity: 0.3;
    font-weight: bold;
    font-family: $font-family-roboto;
    text-transform: uppercase;
  }

  .nav-btn{
    height: 47px;
    position: absolute;
    width: 26px;
    cursor: pointer;
    bottom: 0;

    @media screen and (min-width: 1080px) {
      bottom: 150px !important;
    }
  }

  .owl-prev.disabled,
  .owl-next.disabled {
    pointer-events: none;
    opacity: 0.2;
  }

  .prev-slide {
    background: url(/images/nav-icon.png) no-repeat 0 0;
    left: 30px;
  }
  .next-slide {
    background: url(/images/nav-icon.png) no-repeat -24px 0px;
    right: 30px;
  }
}